body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f6f8;
    color: #333;
}

header {
    background: #0a2540;
    color: white;
    padding: 40px;
    text-align: center;
}

section {
    background: white;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    border-radius: 8px;
}

h2 {
    color: #0a2540;
}

ul {
    list-style: square;
    padding-left: 20px;
}

a {
    color: #0a2540;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 20px;
    color: #777;
  }
